---
import type { Item } from "@/api";
import { getItems } from "@/api";
import Info from "@/components/Info/Info.astro";
import { NavLinks } from "@/components/NavLinks";
import { SITE_NAME } from "@/constants";
import Layout from "@/layouts/Layout.astro";

export const getStaticPaths = async () => {
  const items = await getItems();

  return Promise.all(
    items.map((item, i) => ({
      params: {
        slug: item.slug,
      },
      props: {
        item,
        prev: items[i - 1],
        next: items[i + 1],
      },
    }))
  );
};

interface Props {
  item: Item;
  next?: Item;
  prev?: Item;
}

const { slug } = Astro.params;
const { item, next, prev } = Astro.props;
---

<Layout title={`${SITE_NAME} - ${item.name}`} ogImage={`${item.ogImage.src}`}>
  <div
    class="full-image p-8 small-landscape:p-8 sm:p-24 flex flex-col max-h-screen max-w-[1550px] small-landscape:w-full"
    style={{ aspectRatio: item.aspect }}
  >
    <nav
      aria-label="Site navigation"
      class="flex sm:mx-0 pb-3 sm:pb-6 small-landscape:pb-6"
    >
      <NavLinks
        prev={prev?.slug}
        next={next?.slug}
        current={item.slug}
        client:load
      />
    </nav>
    <article>
      <section class="pb-12">
        <figure>
          <Fragment set:html={item.large.style + item.large.img} />
        </figure>
      </section>
      <section class="pb-12">
        <dl
          transition:name="info"
          class="grid grid-cols-2 lg:grid-cols-[repeat(4,_1fr))] gap-6 pb-12"
        >
          <Info data={item.info} />
        </dl>
        <dl
          transition:name="metadata"
          class="grid grid-cols-2 lg:grid-cols-[repeat(4,_1fr))] gap-6 pb-12"
        >
          <Info data={item.metadata} />
        </dl>
      </section>
    </article>
  </div>
</Layout>
